.heading{
    text-align: left;
    width: 100%;
}

.heading h3{
    display: inline;
}

.heading button{
    float: right;
    border: 1px solid white;
}

#start, #status{
    font-size: 22px;
}

h4{
    line-height: 2;
    background-color: gray;
    margin: 0px;
}

.modal-dialog{
    width: 90%;
}

body{
    background-color: cadetblue;
}
